body {
    margin: 0;
    background-image: url(src/img/dot.png);
    background-size: 10px;
    background-color: #cfffe9;
  }
  
  .list {
    position: sticky;
    float: right;
    width: 320px;
    height: auto;
    background-color: #fff;
  }
  .balance {
    display: flex;
    border: 2px solid;
    justify-content: center;
  }
  
  .total {
    display: flex;
    border: 2px solid;
    justify-content: center;
  }
  .product {
    display: inline-flex;
    margin: 10px;
    border: 1px solid;
    width: 131px;
  }
  .button-rmv {
    display: flex;
    margin-left: auto;
    width: 17px;
    height: 18px;
    background-color: #ab0b0b;
    border: 0px;
    color: #fff;
    justify-content: center;
  }
  .text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .products {
    border: 2px solid;
  }
  #price-of-product {
    margin-left: 20px;
  }
  .up {
    margin-top: 20px;
  }
  
  .product-image {
    display: flex;
    width: 150px;
    margin: 0 auto 20px;
    border: 5px solid #b4ff9b;
    background-color: #fff;
    border-radius: 30px;
  }
  .image-product-container {
    width: 200px;
    height: 200px;
    align-items: center;
  }
  .product-container {
    display: inline-block;
    margin-left: 6em;
    margin-top: 20px;
    border: 4px solid #b4ff9b;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    height: 500px;
  }
  .up-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    border-bottom: 5px solid #b4ff9b;
  }
  .down-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
  }
  .information-container {
    width: 200px;
    height: 200px;
    border: 3px solid #b4ff9b;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #000;
  }
  .buy-button {
    border: 3px solid;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #ff9100 0%, #ab0b0b 74%);
    width: 100%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
    margin: 10px auto;
  }
  .price {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 0;
    background-image: linear-gradient(315deg, #0cff20 0%, #4ea3ff 74%);
  }
  